<!DOCTYPE html>
<html lang="en">

<head>
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<title>Green Guard </title>-->
    <!--<link rel=icon href="./images/favicon.ico">-->
    <!--<link href="./include/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.min.css" rel="stylesheet">-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.min.js" rel="application/javascript">-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.js.map" rel="application/octet-stream">-->
    <!--<link href="css/style1.css" rel="stylesheet">-->
    <!--<link rel="application/octet-stream" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>-->
    <!--<script src="./js/angular-flash.min.js"></script>-->
    <!--<link type="text/css" rel="stylesheet" href="./css/angular-flash.min.css" />-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">-->
    <!--<link type="text/css" rel="stylesheet" href="./css/angular-flash.min.css" />-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Green Guard </title>
    <link rel=icon href="./images/favicon.ico">
    <link href="./include/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.min.js" rel="application/javascript">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.js.map" rel="application/octet-stream">
    <link href="css/style1.css" rel="stylesheet">
    <link rel="application/octet-stream" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link type="text/css" rel="stylesheet" href="./css/angular-flash.min.css" />
</head>

<body ng-app="green">

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html">Green Guard</a>
        </div>

        <ul class="nav navbar-top-links navbar-right" ng-controller="hamburger">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user-circle-o fa-fw"></i> User Profile</a></li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="index.html" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>


        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                   <li>
                        <a href="#"><i class="fa fa-user- fa-fw"></i> Profile</a>
                    </li>
                    <li >
                        <a href ="cameras.html"><i class="fa fa-video-camera fa-fw"></i> Cameras</a>
                    </li>
                    <li>
                        <a href="notifications.html"><i class="fa fa-bell-o fa-fw"></i> Notifications</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i> About us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper" ng-controller ="cameras">
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header">cameras</h1>
                <div ng-init="initUserCameras()" >
                    <button> del</button>
                    <input id="addCamear" ng-model="add">
                    <button ng-click="addCamera()"> add</button>
                    <br><br>
                    <table id="table">
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>icon</th>
                            <th>camera Name</th>
                            <th>camera ID</th>
                            <th>rename</th>
                            <th>define area</th>
                            <th>get Life picture</th>
                            <th>status</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div  id="center">

        </div>
    </div>
</div>
<!--<script src="./include/jquery/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>-->
<!--<script src="./include/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="./include/metisMenu/metisMenu.min.js"></script>-->
<!--<script src="./js/controller.js"></script>-->
<!--<script src="./js/sb-admin-2.js"></script>-->



<script src="./include/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script src="./js/angular-flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
<script src="./include/bootstrap/js/bootstrap.min.js"></script>
<script src="./include/metisMenu/metisMenu.min.js"></script>
<script src="./js/controller.js"></script>
<script src="./js/sb-admin-2.js"></script>
</body>

</html>
